.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(216, 52, 52);
  border-bottom: 4px solid #dfbf09;

  & h1 {
    color: black;
    font-size: 1.2rem;
  }

  & a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
  & nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 4rem;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    nav {
      gap: 0.5rem; /* Reduce gap for smaller devices */
    }
  }
}
